* {
    box-sizing: border-box;
}
* {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #eef9bf;
}
.title-bar {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    color: #75b79e;
    font-size: 56px;
    font-family: "Roboto";
    font-weight: 700;
}

.gameArea {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    gap: 34px;
}

img {
    pointer-events: none;
    justify-content: center;
    width: 100px;
    height: auto;
}

.card {
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    border: 1px solid #99cea8;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.card-face {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.hidden {
    transform: rotateY(180deg);
}

.visible {
    transform: rotateY(0deg);
}
