* {
    box-sizing: border-box;
}
* {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #eef9bf;
}
.titleBar {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    color: #75b79e;
    font-size: 56px;
    font-family: "Roboto";
    font-weight: 700;
}

.gameArea {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    gap: 34px;
}

img {
    justify-content: center;
    width: 100px;
    height: auto;
}

.container {
    width: 117px;
    height: 146px;
    background-color: transparent;
    perspective: 1000px;
}

.card {
    border: 1px solid #99cea8;
    border-radius: 5px;
    background-color: #a7e9af;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.card-back {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.card.flipped {
    transform: rotateY(180deg);
}

.card.found {
    pointer-events: none;
    transform: rotateY(180deg);
}

@media (max-width: 614px) {
    .titleBar {
        font-size: 36px;
    }
    .gameArea {
        flex-flow: column nowrap;
        align-items: center;
    }
}
